*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-decoration: none;
}
.wrap{
	text-align: center;
	width: 1100px;
	height: 100%;
}
.empty{
	height: 10px;
	float: left;
	width: 1px;
}
/* 헤더 */
header{
	width: 1100px;
	height: 150px;
	float: left;
	border-bottom: solid #333 1px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
}
.header_empty{
	width: 100px;
	height: 150px;
	float: left;
}
/* 로고 */
.logo{
	width: 300px;
	height: 90px;
	margin-top: 10px;
}
.logo > a > img {
	width: 100%;
	height: 100%;
}
/* 로그인/로그아웃 + 회원정보 */
.top_box{
	float: right;
	width: 300px;
	height: 30px;
	margin-top: -30px;
}
.top_box > a{
	font-weight: bold;
	color: #333;
}
.top_box > a:hover {
	color: red;
}
/* 푸터  */
footer{
	width: 100%;
	height: 150px;
	background-color: #999;
	float: left;
}
/* 푸터 로고 */
footer > .footer_logo{
	width: 200px;
	height: 40px;
	float: left;
	margin-top: 50px;
	margin-left: 10px;
}
footer > .footer_logo > img{
	height: 40px;
}
/* 푸터 텍스트 */
footer > .footer_txt{
	font-size: 12px;
}
.footer_empty{
	height: 30px;
}
/* 메인 페이지 form */
.main_form{
	float: left;
	width: 100%;
}
/* 상품들 */
.main_form > table {
	float:left;
	border-collapse: collapse;
}

.item_box{
	width: 220px;
	height: 300px;
	float: left;
}
.items{
	width: 210px;
	height: 280px;
	margin-top: 10px;
}
.item_img_box{
	border-radius: 20px;
	width: 200px;
	height: 200px;
	float: left;
	margin-left:5px;
	margin-top:10px;	
	border: 1px solid #000;
	overflow: hidden;
}
.item_name{
	color:#333;
	font-size: 13px;
	margin-top: 5px;
}
.item_price{
	color:#333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
}
.item_bar{
	background-color: #fff;
	width: 100%;
	height: 5px;
	float: left;
	margin-top: 15px;
	transition : 0.5s;
}
.fl_le{
	width: 100%;
	float: left;
}
/* 아이템 위에 마우스 올리면 나오는 액션 */
.item_box > a:hover .item_bar {
	background-color: red;
}
/* 상세 화면 */
.detail_view{
	width: 100%;
	float: left;
	margin-top: 20px;
}
/* 상세 화면 메인이미지 */
.detail_main_img{
	width: 300px;
	height: 300px;
	border: 1px solid #000;
	float: left;
	border-radius: 20px;
	overflow: hidden;
	margin-left: 80px;
}
/* 상세 화면 전송 폼 */
.detail_form{
	width: 500px;
	height: 300px;
	float: left;
	margin-left: 100px;
}
/* 상세 화면 제품 이름 */
.detail_title{
	color: #333;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	height: 30px;
}
/* 상세 화면 제품 가격 */
.detail_price{
	float: right;
	margin-right: 20px;
}
.detail_bar{
	border-bottom: dotted 3px #000;
	width: 100%;
	height: 30px;
}
/* 상세 화면 상품 개수 선택 */
.detail_item_num{
	float: left;
	margin-left: 30px;
	margin-top: 20px;
}
.detail_item_num > input{
	width: 50px;
	margin-left: 200px;
}
/* 상세 화면 재고량 */
.detail_stuck{
	float: right;
	color: red;
	font-size: 13px;
}
/* 상세화면 장바구니 버튼 */
.cart_btn{
	width: 300px;
	height: 50px;
	margin-top: 100px;
	font-weight: bold;
	font-size: 20px;
	border: none;
	background-color: #000;
	color: #fff;
}
/* 장바구니 버튼 호버 */
.cart_btn:hover {
	background-color: hotpink;
}
/* 상품 부가 이미지 */
.detail_sub_img{
	width: 80%;
	float: left;
	margin-top: 30px;
	margin-left: 100px;
}
.detail_sub_img > img {
	width: 100%;
}
/* 로그인 뷰 */
.login_view{
	float: left;
	width: 100%;
}
.login_view > h4{
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}
.login_form{
	width: 100%;
	float: left;
}
.login_input{
	width: 300px;
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
}

.login_btn{
	width: 120px;
	height: 65px;
	float: left;
	margin-top: 7px;
	background-color: #ccc;
	font-weight: bold;
	font-size: 20px;
	border: none;
	color: #fff;
}
.login_btn:hover{
	background-color: hotpink;
	cursor: pointer;
}
.go_register{
	width: 120px;
	height: 30px;
	background-color: #000;
	margin-top: 5px;
	float: left;
	color: #fff;
	line-height: 30px;
}
.go_register:hover{
	background-color: hotpink;
}
.login_table{
	width: 500px;
	height: 150px;	
}

/* 회원가입 뷰 */
.register_view{
	float: left;
	width: 100%;
}
.register_view > h4{
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}
.register_form{
	width: 100%;
	height: 430px;
	float: left;
	margin-top: 20px;	
}
.register_table tr{
	height: 40px;
}
.register_table tr:nth-child(2){
	height: 12px;
}
.register_table td{
	font-size: 20px;
	font-weight: bold;
}
.register_table td > input{
	width: 250px;
	height : 30px;
	margin-left: 30px;
}
.register_form > button{
	width: 250px;
	height: 50px;
	background-color: #ccc;
}
.register_form > input{
	width: 150px;
	height: 50px;
	background-color: #000;
}
.register_btn{
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	border: none;
}
.register_btn:hover{
	background-color: hotpink;
}