<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.mapper.orderDetailMapper">

	<insert id="insertOrderDetail" parameterType="orderDetail">
		insert into order_detail values (#{orderDetailId},#{orderNum},
		#{itemId},#{orderQuantity},#{itemPrice},#{itemName},#{mainCut})
	</insert>
	
	<delete id="deleteOrderDetailById" parameterType="string">
		delete from order_detail where order_detail_id = #{orderDetailId}
	</delete>
</mapper>